.App {
    width: 1140px;
    margin: 0 auto;

}
.hw {

}

.hwTitle {
    font-family: 'Montserrat','serif';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
