.friendMessage {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.friendImageAndText {
display: flex;
    justify-content: space-between;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.friendText {
    padding: 12px 12px;
    width: 414px;
    height: 60px;
    background: #F5F7FB;
    border-radius: 12px;
}

.friendText:after {

}

.friendName {
    font-family: 'Montserrat','serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}


.friendMessageText {
    font-family: 'Montserrat','serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.friendTime {
    position: absolute;
    top: 269px;
    left: 113px;
    font-family: 'Montserrat','serif';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    z-index: 1;
}
